header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') SymbolNet
        .nav-collapse.collapse
          ul.nav
            li(class=isActive('/lexicons') ? 'active' : '')
              a(href="/lexicons/list", title="Lexicons") Lexicons
            li(class=isActive('/symbolisation') ? 'active' : '')
              a(href="/symbolisation", title="Symbolisation") Symbolisation
            li(class=isActive('/about') ? 'active' : '')
              a(href="/about", title="About") About
          
              //Add download dataset later
          ul.nav.pull-right
            form#search_form.navbar-search(action="/lexicons/list",method="post")
              input(type="hidden",name="_csrf",value="#{csrf_token}")
              .input-append
                input.span2(type="text",name="q",placeholder="Search lexicons...",value=q?q:"")
                button.btn(type="submit")
                  i.icon-search
                select.span1(name="pos")
                  option(value="all") all
                  option(value="noun") noun
                  option(value="verb") verb
                  option(value="adjective") adjective
                  option(value="adverb") adverb
                  option(value="unspecified") unspecified
            if (req.isAuthenticated())
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown",data-target="#",href="/users/"+req.user.id)=req.user.name
                  if (req.user.getPicture(24) !== undefined)
                    img.pull-left(src=req.user.getPicture(24))
                  else
                    i.icon-user.pull-left
                  span.pull-left &nbsp;
                  b.caret
                ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
                  li
                    a(href="/lexicons/create", title="Start Voting") 
                      i.icon-plus-sign 
                      |&nbsp;New Lexicon
                  li
                    a(href="/lexicons/vote", title="Start Voting") 
                      i.icon-thumbs-up 
                      |&nbsp;Start Voting
                  li
                    a(href="/users/"+req.user.id, title="Profile") 
                      i.icon-list-alt 
                      |&nbsp;Profile
                  li
                    a(href="/logout", title="logout") 
                      i.icon-off
                      |&nbsp;Logout
            else
              li
                a(href="/login", title="Login") Login
