head(prefix="og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="csrf-token", content="#{csrf_token}")

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  //
     Opengraph tags
  //meta(property="fb:app_id", content="293989217296609")
  //meta(property="og:title", content=pkg.name + ' - ' + title)
  //meta(property="og:description", content=pkg.description)
  //meta(property="og:url", content="http://nodejs-express-demo.herokuapp.com")
  //meta(property="og:image", content="http://blog.getbootstrap.com/wp-content/themes/bootstrap-blog/img/bootstrap-blog-logo.png")
  //meta(property="og:site_name", content="Node.js Express Mongoose Demo")
  //meta(property="fb:admins", content="1037213945")

  //
     Application styles
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
  //link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
  link(rel="stylesheet", href="/css/jquery.tagsinput.css")
  //
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
  link(rel="stylesheet", href="/css/app.css")
  //
     <link rel="stylesheet" href="/assets/css/application.css">
  //
     Le HTML5 shim, for IE6-8 support of HTML5 elements
  //if lt IE 9
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  //load jquery
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  block title
  block script
  block css
