body {
  padding-top: 60px;
}

.container {
  width: auto;
  max-width: 940px;
}

.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}

.footer{
  	clear:both;
  	padding-top:10px;
  	text-align: center;
}

.inline
{
  display:inline;
}

.hidden
{
  display:none;
}

.badge-count
{
  margin-left:10px;
}

#search_form
{
  margin-bottom:-4px;
  margin-top:4px;
}

#search_form select
{
  margin-left:10px;
}

.statistics-number
{
  color:#808185;
  font-size:150%;
  font-weight:bold;
  line-height: 18px;
}

/*Profile Page*/
.profile-level
{
  color:#8d8d8d;
  font-size:150%;
  text-transform: uppercase;
  font-weight: bold;
}
.profile-credits
{
  color:#808185;
  font-size:300%;
  font-weight:bold;
}
.profile-box
{
  text-align: center;
  color:white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.profile-box .profile-number
{
  font:bold;
  font-size:2em;
}

.profile-box .profile-text
{
  font:bold;
  font-size:1.1em;
}

.profile-box .profile-credits
{
  font:bold;
  font-size:1.3em;
}

.profile-upvote
{
  background-color:#028482;
}

.profile-downvote
{
  background-color:#ff634d;
}

.profile-lexicon
{
  background-color:#7aba7a;
}

.profile-image
{
  background-color:#fd795b;
}

.profile-sentence
{
  background-color:#b764b8;
}

.profile-sameas
{
  background-color:#1f7872;
}

.profile-badge
{
  margin-top: 10px;
  margin-bottom:20px;
}

.profile-badge h4
{
  color:#1c84a3;
  display:inline;
}

.profile-badge .profile-badge-credits
{
  display:inline;
  color:#8d8d8d;
  font-weight:bold;
  margin-left: 20px;
}

.profile-badge .profile-badge-permisson
{
  font-size: 1.1em;
}

/*Entry CSS*/
.entry-label{
  display:inline;
  color:#1c84a3;
}

.entry-pos{
  display:inline;
  color:#8d8d8d;
  text-transform: uppercase;
  font-weight:bold;
  margin-left: 20px;
}

.entry-description
{
  font-size:1.2em;
}

.entry-description-editable
{
  border:none !important;
}

.entry-label-editable
{
  border:none !important;
}

.entry-sentence-editable
{
  border:none !important;
}

.entry-sameas-editable
{
  border:none !important;
}

.entry-description-editing
{
  width:640px;
}

.entry-img-thumbnail
{
  width:128px;
  height:128px;
  cursor:pointer;
}

.entry-sentence
{
  font-size:1.1em;
}

.entry-vote
{
  text-align: center;
  color:#42474a;
  opacity:.6;
  font-size:1.1em;
}

.entry-voted-up,.entry-voted-down
{
  -moz-box-shadow: 0 0 5px 5px #888 !important;
  -webkit-box-shadow: 0 0 5px 5px #888 !important;
  box-shadow: 0 0 5px 5px #888 !important;
}

.icon-symbolnet-user {
    margin-right:5px;
}

.img-preview{
  width:128px;
  height:128px;
  margin:20px;
}
