extends ../layouts/default

block main
  h1= title

block content
  .offset4
    a(href="/auth/google",alt="Google Account")
      img(src="/img/google.png")
    a(href="/auth/twitter", alt="Twitter Account")
      img(src="/img/twitter.png")
  
  center
    br
    h2 OR
    br

  .login
    block auth
    
