extends ../layouts/default
block css
	link(rel="stylesheet", href="/trip/trip.min.css")
block script
	script(src="/trip/trip.min.js")
	script.
		$(document).ready(function(){
			var startTour = "!{req.query.tour}";
			var trip = new Trip([
				{
					sel: $("#profile-badge-1"), 
					content: "Welcome to SymbolNet. <br/>You will start as a Newbie here. <br/>By voting for symbols, creating lexicons, etc, <br/>you will gradually build up your credits <br/>and release new badges.",
					expose:true
				},
				{
					sel: $("#profile-badge-2"),
					content: "Releasing new badges means you can do more things <br/> or contribute more for SymbolNet.",
					expose:true
				},
				{
					sel: $("#profile-badge-3"),
					content: "Each badge gives you new permissions to contribute to SymbolNet. <br/>Please have a read of the required credits for each badge and <br/>what things you can do at each stage. For example, <br/>you can't downvote a symbol until you have gained bachelor badge.",
					expose:true
				},
				{
					sel: $("#credits"),
					content: "Please have a look at how can you obtain credits. <br/>Generally speaking, uploading an appropriate symbol or <br/>suggesting a SameAs URI will quickly bring you more credits.",
					expose:true
				},
				{
					sel: $("#profile-credits"),
					content: "You can check the credits you have anytime in the profile page.<br/> Wish you a happy journey in SymbolNet.",
					expose:true
				}
			],{
				delay:-1,
				showNavigation: true,
				showCloseBox:true
			});
			
			$("#tour_btn").click(function(){
				trip.start();	
			});

			if(startTour === "true")
				trip.start();
		}); 
block main
	- var name = user.name ? user.name : user.username
	- var picture = user.getPicture(128)?user.getPicture(128):"/img/user-default.png"
	.row
		.span2
			img.img-polaroid(src=picture)
		.span4
			div.inline.profile-level=badge.name
			h2=name
			div=user.email
			br
			if (badge.name.toLowerCase() === "newbie" || badge.name.toLowerCase() === "freshman")
				button#tour_btn.btn.inline
					i.icon-play
						|&nbsp;Start a tour
		.span6.text-center
			br
			br
			div.profile-credits=totalCredits+" Credits"
			br
			br
			a.btn.btn-success(href="/lexicons/vote")
				i.icon-thumbs-up.icon-2x.pull-left
					|&nbsp;Start Voting 
	hr
	#profile-credits.row
		.span2.profile-box.profile-upvote
			span.profile-number=upvotesCount
			br
			span="Upvotes"
			br
			br
			span=upvotesCredits+" Credits"
		.span2.profile-box.profile-downvote
			span.profile-number=downvotesCount
			br
			span="Downvotes"
			br
			br
			span=downvotesCredits+" Credits"
		.span2.profile-box.profile-lexicon
			span.profile-number=lexiconsCount
			br
			span="Lexicons"
			br
			br
			span=lexiconsCredits+" Credits"
		.span2.profile-box.profile-image
			span.profile-number=imagesCount
			br
			span="Images"
			br
			br
			span=imagesCredits+" Credits"
		.span2.profile-box.profile-sentence
			span.profile-number=sentencesCount
			br
			span="Sentences"
			br
			br
			span=sentencesCredits+" Credits"
		.span2.profile-box.profile-sameas
			span.profile-number=sameasCount
			br
			span="SameAs"
			br
			br
			span=sameasCredits+" Credits"
	.row
		.span12
			h3="Your Badges"
	.row.profile-badge
		div
			.span2#profile-badge-1
				if (badge.permissions[0])
					img(src="/img/badges/newbie_color.png",alt="You are a newbie")
				else
					img(src="/img/badges/newbie_grey.png",alt="You are not a newbie yet")
			.span4
				h4="Newbie"
				span.profile-badge-credits="0 - 9 credits"
				dl.profile-badge-permisson
					dt="You can:"
					dd
						ul
							li="Search lexicons"
							li="Upvote"
							li="Create new Lexicon"
							
		div
			.span2#profile-badge-2
				if (badge.permissions[1])
					img(src="/img/badges/freshman_color.png",alt="You are a freshman")
				else
					img(src="/img/badges/freshman_grey.png",alt="You are not a bachelor yet")
			.span4
				h4="Freshman"
				span.profile-badge-credits="10 - 29 credits"
				dl.profile-badge-permisson
					dt="You can:"
					dd
						ul
							li="All newbie's permissions plus:"
							li="Suggest new images for lexicons"
	.row.profile-badge
		div
			.span2
				if (badge.permissions[2])
					img(src="/img/badges/bachelor_color.png",alt="You are a bachelor")
				else
					img(src="/img/badges/bachelor_grey.png",alt="You are not a bachelor yet")
			.span4#profile-badge-3
				h4="Bachelor"
				span.profile-badge-credits="30 - 299 credits"
				dl.profile-badge-permisson
					dt="You can:"
					dd
						ul
							li="All freshman's permissions plus:"
							li="Downvote"
							li="Add sample sentence"
							li="Add SameAs URI"
		div#profile-badge-doctor
			.span2
				if (badge.permissions[3])
					img(src="/img/badges/doctor_color.png",alt="You are a doctor")
				else
					img(src="/img/badges/doctor_grey.png",alt="You are not a doctor yet")
			.span4
				h4="Doctor"
				span.profile-badge-credits="300 - 999 credits"
				dl.profile-badge-permisson
					dt="You can:"
					dd
						ul
							li="All bachelor's permissions plus:"
							li="Edit lexicon label"
							li="Edit lexicon description"
	.row.profile-badge
		div#profile-badge-professor
			.offset3.span2
				if (badge.permissions[4])
					img(src="/img/badges/professor_color.png",alt="You are a professor")
				else
					img(src="/img/badges/professor_grey.png",alt="You are not a processor yet")
			.span4
				h4="Professor"
				span.profile-badge-credits="1000+ credits"
				dl.profile-badge-permisson
						dt="You can:"
						dd
							ul
								li="All doctor's permissions plus:"
								li="Remove a sample sentence"
								li="Remove a SameAs URI"
	.row
		#credits.span12
			h3="About Credits"
			p
				|There are several ways to gain credits:
			ol
				li
					|Vote symbol image up or down will get 
					strong
						|1 credit 
					|at a time. You cannot vote a certain image in one lexical entry more than once. You also cannot vote for the images you uploaded."
				li
					|Create a new lexicon and if later someone (including yourself) uploads a Symbol image for this lexicon, you will get 
					strong
						|2 credits for just once.
				li
					|Upload a Symbole image for any lexicon and any upvote of this image will bring you 
					strong
						|5 credits.
				li
					|Add a new sample sentence and you can get 
					strong
						|1 credit.
					| However, users with permissions can remove that sentence and you will lose the credit.
				li 
					|Add a new SameAs URI and you can get 
					strong
						|2 credits. 
					| However, users with permissions can remove that URI and you will lose the credit.
				li
					|Downvote an image will not give credit penalty to the uploader of the image.
			


