extends auth

block auth
  form.offset1.form-horizontal(action="/users", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    .control-group
      label.control-label(for='name') Full name*
      .controls
        input#name(type='text', name="name", placeholder='Full name', value=user.name)

    .control-group
      label.control-label(for='email') Email*
      .controls
        input#email(type='text', name="email", placeholder='Email', value=user.email)

    .control-group
      label.control-label(for='username') Username*
      .controls
        input#username(type='text', name="username", placeholder='Username', value=user.username)

    .control-group
      label.control-label(for='password') Password*
      .controls
        input#password(type='password', name="password", placeholder='Password')

    .form-actions
      button.btn.btn-primary(type='submit') Sign up
      &nbsp;
      | or&nbsp;
      a.show-login(href="/login") login
