extends ../layouts/default

block title
	title="Symbolisation"
block main
	h2="Symbolisation"
block content
	p
		b
			|Please enter your text here:
	form(action='/symbolisation/show',method="post")
		input(type="hidden",name="_csrf",value="#{csrf_token}")
		textarea(name="text" rows="10", maxlength="65536",placeholder="Your text here...",style="width:100%")
		button(type="submit", class="btn btn-primary")="Submit"