extends ../layouts/default
block title
	title = "Symbolisation Result"
block script
	script.
		$(document).ready(function(){
			$("#symbol_modal").modal({show:false});
			//register click events for span
			$('.word').bind('click',function(e){
				var pos = $(this).data("pos");
				var word = $(this).data("word");
				var sentence_id = $(this).data("sentence-id");
				var sentence = encodeURIComponent($("#"+sentence_id).text());
				//set title h3
				$("#symbolmodal_body").html('<img src="/img/ajax-loader.gif"/>');
				$("#symbol_modal").modal('show');
				$.getJSON('/api/symbolise',{pos:pos, word:encodeURIComponent(word)}, function(result){
					var modal_body = $("#symbolmodal_body");
					if(result.original.images.length>0)
					{	
						modal_body.html("<h4>"+word+"</h4>");
						$("<br/>").appendTo(modal_body);
						$("<br/>").appendTo(modal_body);
						var thumbnail_ul = $("<ul/>").addClass("thumbnails").appendTo(modal_body);
						$.each(result.original.images, function(index, image){
							var img_li=$("<li/>").addClass("span2").css("text-align","center").appendTo(thumbnail_ul);
							var img_div=$("<div/>").addClass("thumbnail").appendTo(img_li);
							$("<img/>").attr("src",image.uri).appendTo(img_div).addClass('img-preview');
							$("<a/>").addClass("btn btn-info").attr("href","/lexicons/vote?entryIds="+image.entry_ids+"&sentence="+sentence).attr("target","_blank").text("Vote").appendTo(img_div);
						});
					}
					else if(result.stemmed.images.length >0)
					{
						modal_body.html('<p>No symbol is found for \''+word+'\'. Showing images for <em>\''+result.stemmed.word+'\'</em> instead.</p>');
						$("<a/>").attr("href","/lexicons/create?label="+encodeURIComponent(word)).addClass("pull-right btn btn-success").text("Create lexicon for '"+word+"'").appendTo(modal_body);
						$("<br/>").appendTo(modal_body);
						$("<h4>").text(result.stemmed.word).appendTo(modal_body);
						var thumbnail_ul = $("<ul/>").addClass("thumbnails").appendTo(modal_body);
						$.each(result.stemmed.images, function(index, image){
							var img_li=$("<li/>").addClass("span2").css("text-align","center").appendTo(thumbnail_ul);
							var img_div=$("<div/>").addClass("thumbnail").appendTo(img_li);
							$("<img/>").attr("src",image.uri).appendTo(img_div).addClass('img-preview');
							$("<a/>").addClass("btn btn-info").attr("href","/lexicons/vote?entryIds="+image.entry_ids).attr("target","_blank").text("Vote").appendTo(img_div);
						});
					}
					else
					{
						$("#symbolmodal_body").html('No symbol is found for \''+word+'\'');
						$("<br/>").appendTo(modal_body);
						$("<br/>").appendTo(modal_body);
						$("<a/>").attr("href","/lexicons/create?label="+encodeURIComponent(word)).addClass("pull-right btn btn-success").text("Create lexicon for '"+word+"'").appendTo(modal_body);
					}

				});
			});
		});
block css
	style.
		.word
		{
			display:inline-block;
			cursor: pointer;
		}
		.punctuation, .space
		{
			display:inline-block;
		}	
block main
	h1="Symbolisation Results"
block content
	if (sentences.length)
		each sentence in sentences
			h3="Sentence "+(sentence.index+1)
			p(style="display:none;",id="sentence_"+sentence.index+1)=sentence.text
			p
				- var i=0
				each taggedWord in sentence.words
					if (taggedWord.pos.match(/[,\.:\$#\\\(\)]/g))
						span.punctuation=taggedWord.word
					else
						if (i!=0)
							span.space &nbsp;
						span.word(data-pos=taggedWord.pos,data-word=taggedWord.word, data-sentence-id="sentence_"+sentence.index+1)=taggedWord.word
					- i++
					
		#symbol_modal.modal.hide.fade
			.modal-header
				button.close(type="button",data-keyboard="true",data-dismiss="modal" aria-hidden="true") &times;
				h4="Symbols"
			#symbolmodal_body.modal-body
	else
		p
			|No sentenece is found.
	a.btn.btn-warning(href="/symbolisation")="back"