extends layouts/default
block script
	script(src="/js/jqBootstrapValidation-1.3.7.min.js")
block content
	.row
		|Content
		ul
			li
				a(href="#why")="Why symbols are important?"
			li
				a(href="#symbolnet")="What is SymbolNet?"
			li
				a(href="#contactus")="Contact Us"
	.row
		h2#why="Why symbols are important?"
		p
			|Images, symbols and pictograms can be part of a toolkit of strategies to benefit two main groups of people with a communication difficulty. 
			|First those people for whom speech and text communication is impossible, 
			|where there is a push to investigate the use of natural language processing to speed access to symbols when used with electronic AAC devices, 
			|and secondly those people with low levels of literacy, learning disabilities or specific learning difficulties, 
			|including those with Dyslexia where symbols can aid reading and writing skills. 
			|In this situation it is important to have a symbol dictionary that contains frequently used words based on standard classical language, such as English, Chinese and Arabic.  
			|There are also some individuals who have social interaction difficulties such as severe Autism where symbols can act as prompts.  Symbols may also work in a similar way for those who acquire speech and language difficulties due to strokes and brain injury.
		p
			|Symbols as indicators have value in supporting the understanding of the words and phrases in different languages 
			|for those with little knowledge of the language. In addition, symbols as pictograms can also be used as indicators within the built environment 
			|to assist in way finding or act as health and safety warnings in a way that is obvious to the widest possible audience.
	.row
		h2#symbolnet="What is SymbolNet?"
		p
			|SymbolNet is a website to link symbols to different word senses and named entities.
			|Here, everyone can suggest new lexicon, upload symbols for lexicons and vote for other people uploaded symbols (similar to stackoverflow.com). You will gain credits for your activities and new badges will be released for you, when you can perform more activities such as edit the lexicon created by others (in case there are spelling mistakes). We have initialised the dataset with symbols from ARASAAC and lexicons collected from WordNet. Everyone is welcomed to vote or refine the dataset.
		img(src="/img/symbolnet.png",alt="SymbolNet architecture")
		h3="Step 1: Symbols to Lexicons"
		p
			|Link symbols from different resources to a lexicon base or dictionary.
		h3="Step 2: Lexicons to URIs"
		p
			|Link lexicons to the URIs in Linked Data Cloud
		h3="Step 3: Symbolisation "
		p
			|Use Natual Language Processing and Named Entity Recognition technics to analysis plain text and display assoicated symbols in a given context.
	.row
		h2#contactus Contact Us
		form.well.span8(action="/handleContactUs",method="post")
			input(type="hidden",name="_csrf",value="#{csrf_token}")
			label Your Name*
			input.span3(type="text",placeholder="Your Name",name="name",required="required")
			label Your Email*
			.input-prepend
				span.add-on @
				input.span3(type="text",placeholder="Your Email",name="email",required="required",data-validation-matches-match="email")
			label Message Title*
			input.span3(type="text",placeholder="Title...",name="title",required="required")
			label Message*
			textarea(name="message",rows="10",style="width:80%",required="required", placeholder="Your message...",maxlength="65536")
			br
			button.btn.btn-primary(type="submit") Send