extends layouts/default
block css
	link(rel="stylesheet", href="/css/jquery.easy-pie-chart.css")
block script
	script(src="/js/jquery.easy-pie-chart.js")
	script.
		$(document).ready(function(){
			$('.chart').easyPieChart({
				lineWidth:10,
				size:210
			});
		});
block content
	.row
		.hero-unit
			h1="Welcome to SymbolNet"
			p
				strong="SymbolNet" 
				|&nbsp;is a website to link symbols to different word senses and named entities. The whole linkage dataset is 
				strong
					|managed by you&nbsp;
				|, who can create new lexicons, upload and vote for symbols. 
			p
				|Our long term goal is to provide symbols for noun (phrase), verb (phrase), adjective and adverbs, 
				|as well as entites and concept in the 
				a(href="http://en.wikipedia.org/wiki/Linked_data",target="_blank")="Linked Data Cloud"
				|.&nbsp;All the data will be published as freely available open data,
				|&nbsp; and it could be further used for 
				a(href="http://en.wikipedia.org/wiki/Augmentative_and_alternative_communication",target="_blank")="Augmentative and Alternative Communication"
				|&nbsp;and 
				a(href="http://en.wikipedia.org/wiki/Natural_language_processing",target="_blank")="Natural Language Processing"
				|.
			p
				a(href="/about",alt="read more about symbolnet")="Read more about SymbolNet and give us some feedback>>"
			p
				if (!req.isAuthenticated())
					a.btn.btn-success(href="/login")="SignUp"
					| and help us to build the dataset.
				else
					a.pull-left.btn.btn-large.btn-success(href="/lexicons/vote")
						i.icon-thumbs-up.icon-2x.pull-left
							|&nbsp;Start Voting
					a.pull-right.btn.btn-large.btn-primary(href="/lexicons/create")
						i.icon-book.icon-2x.pull-left
							|&nbsp;New Lexicon
					br
					br
	.row
		.span6
			h2="Symbolisation"
			p
				|Given a paragraph of text, we can search our dataset and find out the correct symbols associated with the meanings of the words or word phrases.
			div(style="text-align:center")
				img(src="/img/symbolisation.png")
			br	
			a.btn.btn-large.pull-right(href="/symbolisation")="Try the symbolisation demo"
		.span6
			h2="Statistics"
			.span2
				span.statistics-number=totalEntryFormatted
				br
				span=" Lexicons in total."
				br
				br
				span.statistics-number=totalImagesFormatted
				br
				span=" symbols in total."
				br
				br
				span.statistics-number=totalEntryWithImageFormatted
				br
				span=" lexicons are linked to at least one symbol"
				br
				br
				span.statistics-number=totalSameAsFormatted
				br
				span=" links to the Linked Data Cloud"
			.span3.text-center
				span
					b
						|Percentage of Voted Symbols
				div.chart(data-percent=totalVotedImagesPercentage)=totalVotedImagesPercentage+"%"
			
				