extends ../layouts/default
block script
	script(src="/js/jqBootstrapValidation-1.3.7.min.js")
	script(src="/js/jquery.typing-0.2.0.min.js")
	script.
		function checkDuplication(val,pos)
		{
			$.ajax({
					url: "/lexicons/checkDuplicate",
					type:"get",
					dataType:"json",
					data:{label:encodeURIComponent(val),pos:pos},
					beforeSend:function(){
						var entries_div = $("#entry_duplicate_entries_div"); 
					}
				}).done(function(data){
					var duplicate_div = $("#entry_duplicate_div");
					var duplicate_span = $("#entry_duplicate_span");
					var entries_div = $("#entry_duplicate_entries_div");
					entries_div.empty();
					duplicate_span.text("Possible Duplications");
					if(data.length ===0){
						entries_div.html("<i>No duplicate lexicon is found.</i>");
					}
					else{
						$.each(data,function(index,entry){
							var entry_div=$("<div/>").addClass("well").appendTo(entries_div);
							var entry_label=$("<h3/>").css("display","inline").text(entry.label).appendTo(entry_div);
							var entry_pos = $("<span/>").addClass("entry-pos").text(entry.pos).appendTo(entry_div);
							var entry_description = $("<div/>").addClass("entry-description").appendTo(entry_div);								
							entry_description.text(entry.description.length>128?entry.description.substring(0,128)+"...":entry.description);
							var entry_duplicate_btn = $("<a/>").addClass("btn btn-link pull-right").prop("href","/lexicons/show?entry_id="+entry._id).prop("target","_blank").text("Have a check").appendTo(entry_div);
							entry_div.append("<br/>");
						});
					}
				}).fail(function(jqXHR, textStatus,errorThrown){
					
				});
		}

		$(function () { 
			$("#entry_create_form input,#entry_create_form select,#entry_create_form textarea").not("[type=submit]").jqBootstrapValidation(); 

			if($("#entry_label_input").val() && $("#entry_label_input").val().length>0)
				checkDuplication($("#entry_label_input").val());

			$("#entry_label_input").typing({
				stop:function(event,elem){
					var val = elem.val();
					if(val.length == 0)
						return;

					var pos = $("#entry_pos_select").val();
					checkDuplication(val,pos);
				},
				delay:400
			});
		});
block title
	title="Create New Lexicon"
block main
	h2="Create New Lexicon"
	hr
block content
	div#entry_create_div.span6
		form#entry_create_form.form-horizontal(action="/lexicons/handleCreate",method="post")
			input(type="hidden",name="_csrf",value="#{csrf_token}")
			.control-group
				label.control-label(for="label")="Lexicon Label*"
				.controls
					if (prelabel)
						input#entry_label_input(type="text",name="label",placeholder="Lexicon label...",required="required",value=prelabel)
					else
						input#entry_label_input(type="text",name="label",placeholder="Lexicon label...",required="required")
			.control-group
				label.control-label(for="label")="Part of Speech*"
				.controls
					select#entry_pos_select.span2(name="pos",required="required")
						option(value="noun",selected="selected") noun
						option(value="verb") verb
						option(value="adjective") adjective
						option(value="adverb") adverb
			.control-group
				label.control-label(for="description")="Description*"
				.controls
					textarea(rows="3",required="required",name="description",placeholder="Lexicon description...")
			.control-group
				label.control-label(for="sentence")="Sample Sentence"
				.controls
					textarea(rows="3",name="sentence", placeholder="Sample sentence...")
			.form-actions
				button.btn.btn-primary(type="submit")="Create New Lexicon"
	div#entry_duplicate_div.span5
		span#entry_duplicate_span(style="font-weight:bold")
		#entry_duplicate_entries_div