extends ../layouts/default
block css
	link(rel="stylesheet", href="/css/jquery.pnotify.default.css",media="all")
	link(rel="stylesheet", href="/css/jquery.pnotify.default.icons.css",media="all")
	link(rel="stylesheet", href="/bootstrap-editable/css/bootstrap-editable.css",media="all")
block script
	script(src="/js/jquery.pnotify.min.js")
	script(src="/js/jquery.form.min.js")
	script(src="/bootstrap-editable/js/bootstrap-editable.min.js")
	script.
		$(document).ready(function(){
			//Set CSRF for ajax call
			var CSRF_HEADER = 'X-CSRF-Token';
			var setCSRFToken = function(securityToken) {
				$.ajaxPrefilter(function(options, _, xhr) {
					if ( !xhr.crossDomain ) 
						xhr.setRequestHeader(CSRF_HEADER, securityToken);
				});
			};
			setCSRFToken($('meta[name="csrf-token"]').attr('content'));

			//set pnotify delay
			$.pnotify.defaults.delay=3000;
			$.fn.editable.defaults.mode='inline';

			//################## Enable Editable #############
			$(".entry-description-editable").tooltip({title: "Click to edit"});
			$(".entry-description-editable").editable({
				inputclass:'entry-description-editing',
				rows:5,
				url:"/lexicons/editDescription",
				ajaxOptions:{
					type:"post",
					dataType:"json",
				},
				success:function(response,newValue)
				{
					if(response.status == 'error'){
						return response.msg;
					}
					else{
						$.pnotify({
							title: "Success",
							text:"Thank you for your update.",
							addclass: "stack-topleft",
							type:"success",
							opacity:.8
						});
					}

				},
				error:function(errors)
				{
					if(errors && errors.responseText) { //ajax error, errors = xhr object
						var msg = errors.responseText;
						$.pnotify({
							title: "Error",
							text: "Sorry, there is an unexpected error. Please try again later.",
							addclass: "stack-topleft",
							type:"error",
							opacity:.8
						});
					}
				}
			});

			$(".entry-label-editable").tooltip({title: "Click to edit"});
			$(".entry-label-editable").editable({
				url:"/lexicons/editLabel",
				ajaxOptions:{
					type:"post",
					dataType:"json",
				},
				success:function(response,newValue)
				{
					if(response.status == 'error')
					{
						return response.msg;
					}
					else
					{
						$.pnotify({
							title: "Success",
							text:"Thank you for your update.",
							addclass: "stack-topleft",
							type:"success",
							opacity:.8
						});
					}
				},
				error:function(errors)
				{
					if(errors && errors.responseText) { //ajax error, errors = xhr object
						var msg = errors.responseText;
						$.pnotify({
							title: "Error",
							text: "Sorry, there is an unexpected error. Please try again later.",
							addclass: "stack-topleft",
							type:"error",
							opacity:.8
						});
					}
				}
			});

			$(".entry-sentence-add").click(function(e){
				var entryId = $(this).data("entry-id");
				var sentences_ul = $("#sentences_"+entryId+"_ul");
				var sentence_li = $('<li/>');
				var sentence_editable_a = $("<a/>").attr("id","sentence_editable_"+entryId+"_a").attr("href","#").attr("title","new sentence").data("name","entry_sentence_new").data("type","text").addClass("editable-click entry-sentence-editable").text("").appendTo(sentence_li);
				sentences_ul.append(sentence_li);
				sentence_editable_a.editable({
					emptytext:"",
					pk:entryId,
					url:"/lexicons/addSentence",
					ajaxOptions:{
						type:"post",
						dataType:"json",
					},
					success:function(response,newValue)
					{
						if(response.status == 'error')
						{
							return response.msg;
						}
						else
						{
							$.pnotify({
								title: "Success",
								text:"Thank you for your sample sentence.",
								addclass: "stack-topleft",
								type:"success",
								opacity:.8
							});
						}
						//sentence_editable_a.destroy();
					},
					error:function(errors)
					{
						if(errors && errors.responseText) { //ajax error, errors = xhr object
							var msg = errors.responseText;
							console.log(msg);
							$.pnotify({
								title: "Error",
								text: "Sorry, there is an unexpected error. Please try again later.",
								addclass: "stack-topleft",
								type:"error",
								opacity:.8
							});
						}
					}
				});
				sentence_editable_a.on('hidden',function(e,reason){
					if(reason==="cancel")
					{
						sentence_li.remove();
					}
				});

				setTimeout(function() {
					sentence_editable_a.editable('show');
				},100);
			});

			$(".entry-sameas-add").click(function(e){
				var entryId = $(this).data("entry-id");
				var sameas_ul = $("#sameas_"+entryId+"_ul");
				var sameas_li = $('<li/>');
				var sameas_editable_a = $("<a/>").attr("id","sameas_editable_"+entryId+"_a").attr("href","#").attr("title","new sameas uri").data("name","entry_sameas_new").data("type","text").addClass("editable-click entry-sameas-editable").text("").appendTo(sameas_li);
				sameas_ul.append(sameas_li);
				sameas_editable_a.editable({
					emptytext:"",
					pk:entryId,
					url:"/lexicons/addSameAs",
					ajaxOptions:{
						type:"post",
						dataType:"json",
					},
					success:function(response,newValue)
					{
						if(response.status == 'error')
						{
							return response.msg;
						}
						else
						{
							$.pnotify({
								title: "Success",
								text:"Thank you for your Same As URI.",
								addclass: "stack-topleft",
								type:"success",
								opacity:.8
							});
						}
						//sentence_editable_a.destroy();
					},
					error:function(errors)
					{
						if(errors && errors.responseText) { //ajax error, errors = xhr object
							var msg = errors.responseText;
							console.log(msg);
							$.pnotify({
								title: "Error",
								text: "Sorry, there is an unexpected error. Please try again later.",
								addclass: "stack-topleft",
								type:"error",
								opacity:.8
							});
						}
					}
				});
				sameas_editable_a.on('hidden',function(e,reason){
					if(reason==="cancel")
					{
						sameas_li.remove();
					}
				});

				setTimeout(function() {
					sameas_editable_a.editable('show');
				},100);
			});

			//################## Vote up #####################
			$(".voteup").click(function(e){
				var entryId = $(this).data("entry-id");
				var imageId = $(this).data("image-id");
				var upBtn = $(this);
				var downBtn = $("#"+entryId+"_"+imageId+"_votedown");
				var votes_span=$("#"+entryId+"_"+imageId+"_vote_span");
				$.ajax({
					url: "/lexicons/handleVoteUp",
					type:"post",
					dataType:"json",
					data:{entry_id:entryId, image_id:imageId},
					beforeSend:function(){
						upBtn.addClass("disabled");
						downBtn.addClass("disabled");
						upBtn.attr("disabled","disabled");
						downBtn.attr("disabled","disabled");
					}
				}).done(function(data){
					var upvotes = parseInt(data.upvote);
					var downvotes = parseInt(data.downvote);
					var upvotePercentage = Math.floor((parseFloat(upvotes/(upvotes+downvotes)).toFixed(2))*100);
					var downvotePercentage = 100-upvotePercentage;
					upBtn.text(upvotePercentage+"%");
					downBtn.text(downvotePercentage+"%");
					//math.floor
					upBtn.addClass("entry-voted-up");
					votes_span.text(upvotes+downvotes+" votes");
					$.pnotify({
						title: "Success",
						text:"Thank you for your voting!",
						addclass: "stack-topleft",
						type:"success",
						opacity:.8,
					});
				}).fail(function(jqXHR, textStatus,errorThrown){
					$.pnotify({
						title: "Error",
						text:errorThrown,
						addclass: "stack-topleft",
						type:"error",
						opacity:.8
					});
					upBtn.removeClass("disabled");
					downBtn.removeClass("disabled");
					upBtn.removeAttr("disabled");
					downBtn.removeAttr("disabled");
				});
			});

			//################## Vote down #####################
			$("#entry_votedown_form").submit(function(e){
				e.preventDefault();
				var entryId = $("#entry_votedown_modal").data("entry-id");
				var imageId = $("#entry_votedown_modal").data("image-id");

				var downBtn = $("#"+entryId+"_"+imageId+"_votedown");
				var upBtn = $("#"+entryId+"_"+imageId+"_voteup");
				var votes_span=$("#"+entryId+"_"+imageId+"_vote_span");
				$("#entry_downvote_entryid_input").val(entryId);
				$("#entry_downvote_imageid_input").val(imageId);

				var form = $(this).ajaxSubmit({
					dataType:"json",
					clearForm:true,
					beforeSubmit:function(formData,jqForm,options){
						upBtn.addClass("disabled");
						downBtn.addClass("disabled");
						upBtn.attr("disabled","disabled");
						downBtn.attr("disabled","disabled");
						$("#entry_downvote_submit_btn,#entry_downvote_cancel_btn").button('loading');
						$("#entry_downvote_submit_btn,#entry_downvote_cancel_btn").addClass('disabled');
						$("#entry_downvote_submit_btn,#entry_downvote_cancel_btn").attr('disabled','disabled');
					}
				});
				var xhr = form.data('jqxhr');
				xhr.done(function(data,statusText,xhr){
					console.log(data);
					var upvotes = parseInt(data.upvote);
					var downvotes = parseInt(data.downvote);
					var upvotePercentage = Math.floor((parseFloat(upvotes/(upvotes+downvotes)).toFixed(2))*100);
					var downvotePercentage = 100-upvotePercentage;
					upBtn.text(upvotePercentage+"%");
					downBtn.text(downvotePercentage+"%");
					downBtn.addClass("entry-voted-down");
					votes_span.text(upvotes+downvotes+" votes");
					
					$.pnotify({
						title: "Success",
						text:"Thank you for your vote!",
						addclass: "stack-topleft",
						type:"success",
						opacity:.8
					});
				}).fail(function(jqXHR, textStatus, errorThrown){
					upBtn.removeClass("disabled");
					downBtn.removeClass("disabled");
					upBtn.removeAttr("disabled");
					downBtn.removeAttr("disabled");

					$.pnotify({
						title: "Error",
						text:errorThrown,
						addclass: "stack-topleft",
						type:"error",
						opacity:.8
					});
				}).always(function(){
					$("#entry_downvote_submit_btn,#entry_downvote_cancel_btn").button('reset');
					$("#entry_downvote_submit_btn,#entry_downvote_cancel_btn").removeClass('disabled');
					$("#entry_downvote_submit_btn,#entry_downvote_cancel_btn").removeAttr('disabled');
					$("#entry_votedown_modal").modal('hide');
				});
				return false;
			});

			$(".votedown").click(function(e){
				var entryId = $(this).data("entry-id");
				var imageId = $(this).data("image-id");
				$("#entry_votedown_modal").data("entry-id",entryId);
				$("#entry_votedown_modal").data("image-id",imageId);
				$("#entry_votedown_modal").modal('show');
			});

			$(".entry-voted-down,.entry-voted-up").tooltip({
				title:'You have already voted this symbol.',
				trigger:"hover"
			});

			$(".entry-cannot-votedown").tooltip({
				title:"You need 30 credits to release the vote down permission.",
				trigger:"hover"
			});

			$("#entry_downvote_submit_btn").click(function(e){
				e.preventDefault();
				$("#entry_votedown_form").submit();
				return false;
			});

			$("#entry_downvote_cancel_btn").click(function(e){
				e.preventDefault();
				$("#entry_votedown_form").find('input:text').val('');
				$("#entry_votedown_form").find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected');
				$("#entry_votedown_form").submit();
				return false;
			});

		});
block title
	title="List Lexicons"
block main
	h2#top=title
	if (q)
		span.label.label-info=(entries?entries.length:0)+" results"

	if (sentence)
		span
			b(style="font-size:1.2em;")="Sample Sentence:"
		div.entry-sentence=sentence
	hr
block content
	if (vote)
		.offset7.span5.pull-right
			b="Want to help us rate more symbols? Go "
			a.btn.btn-warning(href="/lexicons/vote")="Next >"
		br
		br
	each entry in entries
		- var entryId = entry._id.toHexString()
		div.well(id="entry_"+entry._id.toHexString()+"_div")
			h3(style="display:inline;")
				if (req.isAuthenticated() && req.user.canEditLabel())
					a.entry-label.entry-label-editable(id="entry_label_"+entryId+"_a",href="#",data-type="text",data-pk=entryId, data-title="enter lexicon label")=entry.label
				else
					|#{entry.label}
			span.entry-pos=entry.pos
			br
			div.entry-description
				if (req.isAuthenticated() && req.user.canEditDescription())
					a.entry-description-editable(id="entry_description_"+entryId+"_a",href="#",data-type="textarea",data-pk=entryId, data-title="enter description")=entry.description
				else
					|#{entry.description}
			br
			- var tab_div_id="tab_"+entryId+"_id"
			- var sentence_div_id="sentences_"+entryId+"_div"
			- var images_div_id="images_"+entryId+"_div"
			- var sameas_div_id = "sameas_"+entryId+"_div"
			ul#tab_div_id.nav.nav-tabs
				li.active
					a(href="#"+images_div_id,data-toggle="tab")="Images"
				li
					a(href="#"+sentence_div_id,data-toggle="tab")="Sentences"
				li
					a(href="#"+sameas_div_id,data-toggle="tab")="Same As"
			div.tab-content
				div.tab-pane.active(id=images_div_id)
					if (entry.images.length>0)
						span
						b
							|Do the symbol(s) or picture(s) suit the definition or description provided?
						br
						br
						ul.thumbnails
							each image in entry.images
								-var upvotes = 0
								-var downvotes = 0
								-var upvotesPercentage=0
								-var downvotesPercentage=0
								each vote in image.votes
									if (vote.val == 1)
										-upvotes=upvotes+1
									else if(vote.val == -1)
										-downvote=downvote+1
								if (upvotes+downvotes>0)
									-upvotesPercentage=Math.floor((parseFloat(upvotes/(upvotes+downvotes)).toFixed(2))*100)
									-downvotesPercentage=100-upvotesPercentage
								li(style="text-align:center").span2
									.thumbnail
										- var canvote = image.canvote
										img.entry-img-thumbnail(src=image.image_uri)
										if (canvote.up)
											button.voteup.btn.btn-success.btn-small(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_voteup",data-entry-id=entry._id.toHexString(),data-image-id=image._id.toHexString())
												i.icon-thumbs-up
												|#{upvotesPercentage}%
										else if (!canvote.up && canvote.val === 1)
											button.entry-voted-up.btn.btn-success.btn-small.disabled(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_voteup",data-entry-id=entry._id.toHexString(),data-image-id=image._id.toHexString())
												i.icon-thumbs-up
												|#{upvotesPercentage}%
										else
											button.btn.btn-success.btn-small.disabled(data-entry-id=entry._id.toHexString())
												i.icon-thumbs-up
												|#{upvotesPercentage}%
										if (canvote.down)
											button.votedown.btn.btn-danger.btn-small(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_votedown",data-entry-id=entry._id.toHexString(),data-image-id=image._id.toHexString())
												i.icon-thumbs-down
												|#{downvotesPercentage}%
										else if (!canvote.down && canvote.val==-1)
											button.entry-voted-down.btn.btn-danger.btn-small.disabled(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_votedown",data-entry-id=entry._id.toHexString(),data-image-id=image._id.toHexString())
												i.icon-thumbs-down
												|#{downvotesPercentage}%
										else if (!canvote.down && canvote.val== 0)
											button.entry-cannot-votedown.btn.btn-danger.btn-small.disabled(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_votedown",data-entry-id=entry._id.toHexString(),data-image-id=image._id.toHexString())
												i.icon-thumbs-down
												|#{downvotesPercentage}%
										else
											button.btn.btn-danger.btn-small.disabled(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_votedown",data-entry-id=entry._id.toHexString(),data-image-id=image._id.toHexString())
												i.icon-thumbs-down
												|#{downvotesPercentage}%
										br
										br
										span.entry-vote(id=entry._id.toHexString()+"_"+image._id.toHexString()+"_vote_span")=upvotes+downvotes+" votes"
					else
						em
							|No Images for this lexicon
					if (req.isAuthenticated() && req.user.canUploadImage())
						a.btn.btn-link(href="/images/upload?entry_id="+entryId,data-entry-id=entryId)="Suggest a new image >"
				div.tab-pane(id=sentence_div_id)
					h4.inline="Sample Sentences"
					span.inline.badge.badge-success.badge-count=entry.sentences.length
					br
					//b
					//	|Do the sentences suit the definition or description provided?
					ul(id="sentences_"+entryId+"_ul")
						if (entry.sentences.length>0)
							each sentence in entry.sentences
								li
									|#{sentence.text}

					if (req.isAuthenticated() && req.user.canAddSentence())
						br
						button.btn.btn-link.entry-sentence-add(data-entry-id=entryId)="Add a new sentence >"
				div.tab-pane(id=sameas_div_id)
					h4.inline="WordNet"
					span.inline.badge.badge-success.badge-count=entry.wordnet.length
					br
					if (entry.wordnet.length>0)
						ul
							each wn in entry.wordnet
								li=entry.label+" (synset "+wn.synset_offset+"), Wordnet v"+wn.version+","+wn.language
					else
						span
							|No WordNet Synset is found related to this lexicon.
					br
					br
					h4.inline="Linked Open Data"
					span.inline.badge.badge-success.badge-count=entry.sameas.length
					br
					//b
					//	|Do the URIs suit the definition or description provided?
					ul(id="sameas_"+entryId+"_ul")
						if (entry.sameas.length>0)
							each sameas in entry.sameas
								li
									a(href=sameas.uri,target="_blank")=sameas.uri
					if (req.isAuthenticated() && req.user.canAddSameAs())
						br
						button.btn.btn-link.entry-sameas-add(data-entry-id=entryId)="Add a new URI >"
		a.btn.btn-link(href="#top")="Back to Top"

	if (req.isAuthenticated() && req.user.canDownvote())
		//#################votedown form####################
		#entry_votedown_modal.modal.hide.fade
			.modal-header
				button.close(type="button",data-keyboard="true",data-dismiss="modal" aria-hidden="true") &times;
				h4="About your downvote"
			#entry_votedown_modal_body.modal-body
				form#entry_votedown_form(action="/lexicons/handleVoteDown",method="post")
					fieldset
						legend="Would you like to tell us the reason?"
						input(type="hidden",name="_csrf",value="#{csrf_token}")
						input#entry_downvote_entryid_input(type="hidden",value="",name="entry_id")
						input#entry_downvote_imageid_input(type="hidden",value="",name="image_id")
						label.checkbox
							input(type="checkbox",name="reason[]",value="Symbol does not represent word / phrase")
							|Symbol
							b
								|&nbsp;does not
							|&nbsp;represent word / phrase
						label.checkbox
							input(type="checkbox",name="reason[]",value="Symbol does not represent description")
							|Symbol
							b
								|&nbsp;does not
							|&nbsp;represent description
						label.checkbox
							input(type="checkbox",name="reason[]",value="Spelling mistakes in the Symbol")
							|Spelling mistakes in the Symbol
						label.checkbox
							input(type="checkbox",name="reason[]",value="The symbole is culturally unsuitable")
							|The symbole is culturally unsuitable
						label.checkbox
							input(type="checkbox",name="reason[]",value="Symbol poorly drawn")
							|Symbol poorly drawn
						label.checkbox
							|Other reason, please specify:
							input.span3(type="text", name="comment", placeholder="You comments...")
					.form-actions
						button#entry_downvote_submit_btn.btn.btn-primary(data-loading-text="Submiting...",type="button",autocomplete="off")="Submit"
						button#entry_downvote_cancel_btn.btn(type="button",data-loading-text="Submiting...")="No, thanks."