extends ../layouts/default
block css
	link(rel="stylesheet", href="/jquery-file-upload/css/jquery.fileupload-ui.css")
	link(rel="stylesheet", href="/jquery-file-upload/css/style.css")
	link(rel="stylesheet", href="/css/jquery.pnotify.default.css",media="all")
	link(rel="stylesheet", href="/css/jquery.pnotify.default.icons.css",media="all")
block script
	script(src="/js/jquery.pnotify.min.js")
	script(src="/jquery-file-upload/js/vendor/jquery.ui.widget.js")
	script(src="/js/load-image.min.js")
	script(src="/js/canvas-to-blob.min.js")
	script(src="/jquery-file-upload/js/jquery.iframe-transport.js")
	script(src="/jquery-file-upload/js/jquery.fileupload.js")
	script(src="/jquery-file-upload/js/jquery.fileupload-process.js")
	script(src="/jquery-file-upload/js/jquery.fileupload-image.js")
	script(src="/jquery-file-upload/js/jquery.fileupload-audio.js")
	script(src="/jquery-file-upload/js/jquery.fileupload-video.js")
	script(src="/jquery-file-upload/js/jquery.fileupload-validate.js")
	script(src="/js/jquery.cloudinary.js")
	script.
		function uploadLexiconImages(entryId, imageURI,description,license){
			$.ajax({
				url: "/images/handleUpload",
				type:"post",
				dataType:"json",
				data:{entry_id:entryId, license:encodeURIComponent(license), image_uri:encodeURIComponent(imageURI), description:encodeURIComponent(description)},
				beforeSend:function(xhr){
					if ( !xhr.crossDomain ) 
						xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
				}
			}).done(function(data){
				$.pnotify({
					title: "Success",
					text:"Thank you for sharing the image.",
					addclass: "stack-topleft",
					type:"success",
					opacity:.8,
				});
			}).fail(function(jqXHR, textStatus,errorThrown){
				$.pnotify({
					title: "Error",
					text: "Image uploading failed. Please try again later.",
					addclass: "stack-topleft",
					type:"error",
					opacity:.8
				});
			});
		}
		$(function(){
			$.pnotify.defaults.delay=3000;
			$.cloudinary.config({api_key: '!{cloudinary_api_key}', cloud_name: '!{cloudinary_cloud_name}'});
			var entryId = $("#fileinput-button").data("entry-id");
			// Change this to the location of your server-side upload handler:
			var uploadButton = $('<button/>')
					.addClass('btn btn-primary')
					.prop('disabled', true)
					.prop('data-loading-text','Uploading...')
					.text('Processing...')
					.on('click', function () {
						var $this = $(this),
							data = $this.data();
						$this.button('loading');
					
						data.submit().always(function () {
							$this.remove();	
					});
				});
			$('.fileinput-button input').fileupload({
				dataType: 'json',
				autoUpload: false,
				acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
				maxFileSize: 100000, 
				// max file size 100K
				// Enable image resizing, except for Android and Opera,
				// which actually support image resizing, but fail to
				// send Blob objects via XHR requests:
				disableImageResize: /Android(?!.*Chrome)|Opera/.test(window.navigator.userAgent),
				previewMaxWidth: 96,
				previewMaxHeight: 96,
				previewCrop: true,
			}).on('fileuploadadd', function (e, data) {
				data.context = $('<div/>').addClass("span2").appendTo('#image_file');
				$.each(data.files, function (index, file) {
					var node = $('<p/>').append($('<span/>').text(file.name));
					if (!index) {
						node.append('<br>').append(uploadButton.clone(true).data(data));
					}
					node.appendTo(data.context);
				});
			}).on('fileuploadprocessalways', function (e, data) {
				var index = data.index,
				file = data.files[index],
				node = $(data.context.children()[index]);
				if (file.preview) {
					node.prepend('<br>').prepend(file.preview);
				}
				if (file.error) {
					node.append('<br>').append(file.error);
				}
				if (index + 1 === data.files.length) {
					data.context.find('button').text('Upload').prop('disabled', !!data.files.error);
				}
			}).on('fileuploaddone', function (e, data) {
				console.log(data);
				var link = $('<a>').attr('target', '_blank').prop('href', data.result.url);
				$(data.context.children()[0]).wrap(link);
				//send ajax request and create image, then display this message
				var license = $("input[name='license']").val();
				uploadLexiconImages(entryId, data.result.url, data.files[0].name,license);
			}).on('fileuploadfail', function (e, data) {
				var error = $('<span/>').text(data.result.error);
				$(data.context.children()[0]).append('<br>').append(error);
			}).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
		});
block title
	title=title
block main
	h2=title
	hr
block content
	- var entryId = entry._id.toHexString()
	div(id="entry_"+entryId+"_div")
		h3(style="display:inline;")
			|#{entry.label}
		span.entry-pos=entry.pos
		br
		div.entry-description
			|#{entry.description}
		br
		ul(id="sentences_"+entryId+"_ul")
			if (entry.sentences.length>0)
				each sentence in entry.sentences
					li=sentence.text
		//image uploading jquery
		.alert
			strong
				|Warning!
			|&nbsp;Please choose a proper license first and DO NOT upload anything that may violate the copyright of the images. 
		label.radio.inline
			input#license-cc-by(type="radio",name="license",value="http://creativecommons.org/licenses/by/3.0/",checked="checked")
			a(href="http://creativecommons.org/licenses/by/3.0/deed.en_US",alt="Creative Commons Attribution 3.0 Unported")
				img(alt="Creative Commons License",src="/img/licenses/licenses-cc-by-88x31.png")
		label.radio.inline
			input#license-cc-by-nc-sa(type="radio",name="license",value="http://creativecommons.org/licenses/by-nc-sa/3.0/")
			a(href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US",alt="Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported")
				img(alt="Creative Commons License",src="/img/licenses/licenses-cc-by-nc-sa-88x31.png")
		label.radio.inline
			input#license-mit(type="radio",name="license",value="http://opensource.org/licenses/MIT")
			a(href="http://opensource.org/licenses/MIT",alt="MIT License")
				img(alt="MIT License",src="/img/licenses/licenses-mit-88x31-2.png")
		label.radio.inline
			input#license-gpl(type="radio",name="license",value="http://www.gnu.org/licenses/gpl-3.0.html")
			a(href="http://www.gnu.org/licenses/gpl-3.0.html",alt="GPLv3 License")
				img(alt="GPLv3 License",src="/img/licenses/licenses-gpl-88x31.png")
		label.radio.inline
			input#license-lgpl(type="radio",name="license",value="http://www.gnu.org/licenses/lgpl-3.0.html")
			a(href="http://www.gnu.org/licenses/lgpl-3.0.html",alt="LGPLv3 License")
				img(alt="LGPLv3 License",src="/img/licenses/licenses-lgpl-88x31.png")
		br
		br
		span#fileinput-button.btn.fileinput-button(data-entry-id=entryId)
			i.icon-plus
			span="Add an image file, max size 100K..."
				!=cloudinary.uploader.image_upload_tag('image_id')
		br
		br
		#image_file.files
	div.span12
		a.btn.btn-success(href="/lexicons/show?entry_id="+entryId)="Finish"

