!!! 5
html(lang='en')
  include ../includes/head
  body
    .wrapper
      include ../includes/header
      .container
        .main-content
          .main-head
            block main
          include ../includes/messages
          block content
      .push
    .footer
      include ../includes/footer
    include ../includes/foot
